@font-face {
  font-family: StagSansRegular;
  src: url('/fonts/StagSansRegular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: StagSans;
  src: url('/fonts/StagSans-SemiBold.ttf');
  font-weight: bold;
}
