@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

* {
  font-family: StagSans;
}

/* svg {
  color: red !important;
} */

/* .wheel {
  width: 200px;
  height: 200px;
  position: relative;
  border: 2px solid #333;
  border-radius: 50%;
  overflow: hidden;
}

.spinner {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 4s infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
} */
